.text {
  &-brand {
    color: $brand-color;
  }
  &-gray {
    color: $brand-gray;
  }
  &-anchor {
    text-decoration: none;
    color: $brand-gray;
    &:hover, &:focus, &:active {
      text-decoration: none;
      color: $brand-gray;
    }
  }
}